<div class="footer-clean">
  <footer>
    <div class="container-footer">
      <div class="footer-infos">

        <div class="infos">
          <h3>L'entreprise Rents</h3>
          <ul>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Nos agences</a></li>
          </ul>
        </div>

        <div class="infos">
          <h3>Ressources</h3>
          <ul>
            <li><a href="#">Conditions générales de location</a></li>
            <li><a href="#">Déclaration de confidentialité</a></li>
            <li><a href="#">Informations générales</a></li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>

        <div class="infos">
          <h3>Carrières</h3>
          <ul>
              <li><a href="#">Nous rejoindre</a></li>
              <li><a href="#">Témoignages</a></li>
              <li><a href="#">Nos offres d'emplois</a></li>
          </ul>
        </div>
      </div>
      
      <div class="item social"><a href="#"><i class="fa-brands fa-facebook"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-linkedin-in"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a>
        <p class="copyright">Rents © 2023</p>
      </div>
    </div>
  </footer>
</div>
