<div class="container-rents">
  <div class="card-rents">
    <h1>Nos agences Rents partout en France</h1>
    <p>Depuis 1996, Rents a su développer dans toute la France un réseau d’experts qualifiés dans le but de répondre au maximum à la demande des clients. Rent A Car, c’est aujourd’hui plus de 480 points de location, 200 agences franchisées, 100 succursales et 180 points relais réparties partout en France métropolitain et dans les DOM TOM.</p>
  </div>
  <div class="card-rents">
  <img src="https://www.rentacar.fr/_next/image?url=https%3A%2F%2Frac-production-strapi-uploads.s3.eu-west-3.amazonaws.com%2Fimg_2x_634e25fc56.webp&w=640&q=45" alt="">
  </div>
</div>

<h1 class="home-title">Notre gamme de véhicules</h1>

<div class="container" >
  <div class="card">
    <h1>Utilitaires</h1>
    <img src="https://media.istockphoto.com/id/1303182383/fr/photo/van-de-livraison-commerciale-blanc-disolement-sur-le-blanc.jpg?b=1&s=612x612&w=0&k=20&c=kVjLZ6GyGHXJizd2u4jFVfp7_6g69bk2qRv479uogUQ=" alt="">
    <h3>Nos types d'utilitaires</h3>
    <p>Minivan, Pickup, Fourgon, Wagon...</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio saepe veniam assumenda ipsam architecto consequatur autem a aliquid minima beatae maxime odit animi ea in, incidunt non adipisci laboriosam inventore!</p>
    <button class="btn-home">Voir les utilitaires</button>
  </div>
  <div class="card">
    <h1>Voitures</h1>
    <img src="https://media.istockphoto.com/id/1150931120/fr/photo/illustration-3d-de-la-voiture-compacte-blanche-g%C3%A9n%C3%A9rique-vue-de-face.jpg?b=1&s=612x612&w=0&k=20&c=166JE993-RQ_NlmBVJCUbPJzG-S-kKKN6YLHFfL2baI=" alt="">
    <h3>Nos types de voitures</h3>
    <p>SUV, Berline, Coupé, Cabriolet, Bicorps...</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat optio animi aut, sunt nam dolore modi! Laboriosam, maxime praesentium aspernatur quibusdam repellat deserunt, nemo, ullam sint neque dolore quae.</p>
    <button class="btn-home">Voir les voitures</button>
  </div>
</div>
