.main-wrapper{
display: flex;
flex-direction: column;
margin: 10px 80px;
padding: 0 20px;
}

.index-title{
  border-bottom: 1px solid #A0A0A0;
  margin-top: 30px;

  h1{
    color: #011638;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  p{
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 300;
  }

}



.card-informations{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #A0A0A0;
  h1{
    font-size: 30px;
    color: #011638;
    font-weight: 600;
  }

  p{
   color: #A0A0A0;
  }
}

.informations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  width: 136px;
  height: 236px;
}


.price  {
  p{
    color: black;
  }
  #first {
    font-size: 10px;
    margin: 0;
  }
  #second{
    font-size: 24px;
    font-weight: bold;
    margin: 0;

  }
  #third{
    font-size: 14px;
  }
}

.fa-solid{
  width: 20px;
  color: #F19953;
}
