

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .banner {
    display: flex;
    flex-direction: row;
    background-color: black;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    padding: 200px 0;
    background-image: linear-gradient(90deg, rgba(5,5,8,0.592874649859944) 0%, rgba(1,1,5,0.7049194677871149) 100%),  url("https://images.pexels.com/photos/13633258/pexels-photo-13633258.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
}

.main-hero{
  display: flex;
  margin: 40px;

}

.banner h1 {
  margin: 0;
  margin-left: 10px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h5 {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.container-banner{
  display: flex;
  flex-direction: column;
  h1{
    font-size: 40px;
  }

  h5{
    font-size: 37px;

  }
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  width: 75vw;
  margin-left: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.8);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #F19953;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
