.btn-home {
  background-color:#011638;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 5px;
}

.btn-home:hover {
  background-color: #5386E4;
}


.btn-index {
  background-color: #ffdc00;
  border: none;
  border-radius: 8px;
  padding:  10px 30px;
  .car-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}

.btn-calendar{
  background-color:#011638;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
}

.btn-calendar:hover{
 background-color: #F19953;
}
