.nav-title{
  display: flex;
  .R-title{
  color: #F19953;
  font-size: 40px;
  align-self: center;
  }
  .ents-title{
    color: white;
    font-size: 30px;
    align-self: center;
  }
}
.navbar-lewagon {
  justify-content: space-between;
  background-color: #011638;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  margin-left: 10px;
}

.nav-link:hover {
 color: #F19953;
}


.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
}
